/* Common */
.pix-apps-button-ok {display:block; padding: 10px; width:10%; background-color:#3498db; text-align:center;font-weight:bold;color:#FFF; text-decoration:none; border-radius:5px; float:right}

/* Users */
.pix-apps-col-users {width:33%;border:1px solid #e7e7e7;padding:30px;margin:0 20px 20px 0;float:left;}
.pix-apps-col-users p {margin:0}
.pix-apps-line {border-bottom: 1px solid #e7e7e7; height:80px; padding-top:10px}
.pix-apps-icon-user {float:left; padding:0 15px 20px 0;}
.pix-apps-name-user {margin:0px;font-size:1em; font-weight:bold}
.pix-apps-col-users p.pix-apps-type-user {font-size:0.9em;margin:1em 0;}
.pix-apps-users .webix_template {padding:30px}
.pix-apps-avatar {padding:0 20px 20px 20px; float:left}
.pix-apps-desc-user{padding: 10px 0}
.pix-apps-head-desc-user {height:80px;}

/* Display */
.pix-apps-screen-display {width:90%;height:50%;border:1px solid #e7e7e7; padding:30px;margin-bottom:20px;}
.pix-apps-line p span {font-size:89%}
.pix-apps-icon-left {float:left; padding:0 30px;}
.pix-apps-display hr {height:2px; width:92%; background:url(img/hr.png) repeat-x 0 0;}
.pix-apps-p-resolution {float:left}
.pix-apps-p-resolution .webix_el_box {padding-left:0;}
.pix-apps-p-resolution label {padding-left:0; font-weight:bold;}
.pix-apps-display .webix_template{padding:30px;}
.pix-apps-display .webix_el_button {margin:0 auto;}
