/* Common */
.webix_layout_space {background-color:#ffffff;}

/* Users */
.pix-apps-users-list .webix_list_item {padding:10px 0;}
.pix-apps-users-list .webix_list_item.webix_selected {padding:10px 0;background-color:#fdfce0;color:#000000;}
.pix-apps-users input {border:none;}
.pix-apps-users input:focus {border:none;box-shadow:none}
.pix-apps-icon-user {float:left; padding:0 15px;}
.pix-apps-name-user {margin:0px;font-size:1em; font-weight:bold}

/* Display */
.pix-apps-display label, .pix-apps-display .webix_el_label {font-weight:bold;}
.pix-apps-display input {padding:0; border:none;}
.pix-apps-display input:focus {border:none;box-shadow:none}

/* Date */
.pix-apps-date-sync label {line-height:20px;white-space:normal;width:250px;}
